@page
@model RAI.Lab03.s184934.Web.Pages.Delivery.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Delivery.Id" />
            <div class="form-group">
                <label asp-for="Delivery.NumberOfPallets" class="control-label"></label>
                <input asp-for="Delivery.NumberOfPallets" class="form-control" />
                <span asp-validation-for="Delivery.NumberOfPallets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.Date" class="control-label"></label>
                <input asp-for="Delivery.Date" class="form-control" />
                <span asp-validation-for="Delivery.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery.User" class="control-label"></label>
                <input asp-for="Delivery.User" class="form-control" />
                <span asp-validation-for="Delivery.User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

