@page
@model RAI.Lab03.s184934.Web.Pages.Ion.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>@Html.DisplayFor(m => m.IonDto.Type)</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IonDto.Id"/>
            <div class="form-group">
                <label asp-for="IonDto.Name" class="control-label"></label>
                <input asp-for="IonDto.Name" class="form-control"/>
                <span asp-validation-for="IonDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IonDto.Symbol" class="control-label"></label>
                <input asp-for="IonDto.Symbol" class="form-control"/>
                <span asp-validation-for="IonDto.Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IonDto.Content" class="control-label"></label>
                <input asp-for="IonDto.Content" class="form-control"/>
                <span asp-validation-for="IonDto.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>